.App {
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  margin: 2px;
}

.description {
  color: 14px;
  margin-top: 2px;
}

.step-wrapper {
  text-align: left;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.property-wrapper {
  margin: 10px;
}
